<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tutorial - Context Menu</title>

    {% load static %}
    <!--Example of linking to javascript-->
    <!-- <script src="{% static 'scripts/script.js' %}" type="text/javascript"></script> -->

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet"/>
  </head>
  
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar">
      <div class="navbar__container">
        <!--App Logo-->
        <a href="/" id="navbar__logo"
          ><img
            width="75"
            height="75"
            src="{% static 'images/SherLOCK - App Logo.png' %}"
          />SherLOCK</a
        >

        <!--Hamburger Button-->
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

        <ul class="navbar__menu">

          <!--Example Item-->
          <li class="navbar__item">
            <a href="/" class="navbar__links"> Home </a>
          </li>

        </ul>
      </div>
    </nav>

    <div class="info_section">
      <div style="position: relative; width: 1440px; height: 2800px;" class="info_box">
          <span></span>
          <div class="info_content">
              <h2>SherLOCK - Context Menu</h2>
              <p>
                <br>
                As interesting as it may be to watch your screen flash color to signify data packet transfer from server to client and back, 
                it doesn't allow for much interaction from the user. To address this we added a context menu.
                <br><br>
                To access the context menu, you can either left click and hold a node until the menu appears or you can right-click a node to access the context menu.
                <br>
                <img width="1280px" height="720px" src="{% static 'images/nodemap-contextmenu.png' %}"/>
                <br><br>
                Moving your cursor towards the ring allows you to select different functions offered by the Nodemap.
                <br><br>
                To the top left of the context menu,
                <br>
                <img src="{% static 'images/nodemap-contextmenuselect1.png' %}"/>
                <br>
                copies the node's IP address to your clipboard.
                <br><br>
                To the top right of the context menu,
                <br>
                <img src="{% static 'images/nodemap-contextmenuselect2.png' %}"/>
                <br>
                allows you to see other clients connected to that particular server node.
                <br><br>
                And finally to the bottom of the context menu,
                <br>
                <img src="{% static 'images/nodemap-contextmenuselect3.png' %}"/>
                <br>
                allows you to scan for all other open ports on the server node.
                <br><br>
              </p>
              <a href="/tutpage4">Previous</a>
              <a href="/tutpage5">Next</a>
          </div>
      </div>
    </div>

    <!-- Mobile Menu  -->
    <script src="{% static 'scripts/app.js' %}" type="text/javascript"></script>
    <!-- Hide Nav Bar on Scroll -->
    <script>
      window.onscroll = scrollShowNav;
      function scrollShowNav() {
         if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementsByTagName("nav")[0].style.top = "-100px";
         } else {
            document.getElementsByTagName("nav")[0].style.top = "0px";
         }
      }
    </script>
  </body>
</html>
