<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tutorial - Ending</title>

    {% load static %}
    <!--Example of linking to javascript-->
    <!-- <script src="{% static 'scripts/script.js' %}" type="text/javascript"></script> -->

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet"/>
  </head>
  
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar">
      <div class="navbar__container">
        <!--App Logo-->
        <a href="/" id="navbar__logo"
          ><img
            width="75"
            height="75"
            src="{% static 'images/SherLOCK - App Logo.png' %}"
          />SherLOCK</a
        >

        <!--Hamburger Button-->
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

        <ul class="navbar__menu">

          <!--Example Item-->
          <li class="navbar__item">
            <a href="/" class="navbar__links"> Home </a>
          </li>

        </ul>
      </div>
    </nav>

    <div class="info_section">
      <div style="position: relative; width: 520px; height: 500px;" class="info_box">
          <span></span>
          <div class="info_content">
              <h2>End of Tutorial</h2>
              <p>
                <br>
                Congratulations on making it to the end of the tutorial!
                <br><br>
                You should now be able to take full advantage of the features SherLOCK has to offer.
                <br><br>
                Stay safe out there!
                <br><br>
              </p>
              <a href="/node-map">Proceed to Node Map</a>
          </div>
      </div>
    </div>

    <!-- Mobile Menu  -->
    <script src="{% static 'scripts/app.js' %}" type="text/javascript"></script>
    <!-- Hide Nav Bar on Scroll -->
    <script>
      window.onscroll = scrollShowNav;
      function scrollShowNav() {
         if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementsByTagName("nav")[0].style.top = "-100px";
         } else {
            document.getElementsByTagName("nav")[0].style.top = "0px";
         }
      }
    </script>
  </body>
</html>
