<!DOCTYPE html>
<html lang="en">

<head>
	<title>Node Map</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
	
	{% load static %}
	<script src="{% static 'scripts/cytoscape.min.js' %}""></script>
	<script src="https://unpkg.com/webcola/WebCola/cola.min.js"></script>
	<script src="{% static 'scripts/cytoscape-cola.js' %}" type="text/javascript"></script>
	<script src="{% static 'scripts/node-map.js' %}" type="text/javascript"></script>
	<link rel="stylesheet" href="{% static 'css/cyto-styles.css' %}" />
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
	<!-- Navigation Bar -->
	<nav class="navbar">
		<div class="navbar__container">
			<a href="/" id="navbar__logo"><img width="75" height="75" src="{% static 'images/SherLOCK - App Logo.png' %}" />SherLOCK</a>

			<!-- Hamburger Button -->
			<div class="navbar__toggle" id="mobile-menu">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>

			<!--Top Navbar Items-->
			<ul class="navbar__menu">
				<!--Home Button-->
				<li class="navbar__item">
					<a href="/" class="navbar__links"> Home </a>
				</li>

			</ul>
		</div>
	</nav>
  <div id="data" data-context="{{ context }}" />

	<!-- Main Section -->
	<div class="main">
		<div id="node-map"></div>
		<div class="main__container">
			<div class="main__content">
				<button id="delete-all-button" class="delete-all-button main__btn button" data-hover="Clear Graph">Clear Graph</button>
			</div>
		</div>
		<!--End Of 'main_container'-->
	</div>
	<!--End Of 'main'-->


	<script src="{% static 'scripts/app.js' %}" type="text/javascript"></script>
</body>

</html>