<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>template</title>

    {% load static %}
      <!-- favicon -->
      <link rel = "shortcut icon" type="image/png" href = "{% static 'images/favicon.ico' %}" />
    <!--Example of linking to javascript-->
    <!-- <script src="{% static 'scripts/script.js' %}" type="text/javascript"></script> -->

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet"/>
  </head>
  
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar">
      <div class="navbar__container">
        <!--App Logo-->
        <a href="/" id="navbar__logo"
          ><img
            width="75"
            height="75"
            src="{% static 'images/SherLOCK - App Logo.png' %}"
          />SherLOCK</a
        >

        <!--Hamburger Button-->
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

        <ul class="navbar__menu">

          <!--Example Item-->
          <li class="navbar__item">
            <a href="/" class="navbar__links"> Home </a>
          </li>

        </ul>
      </div>
    </nav>

    <!-- Info Section -->
    <div class="main">
      <div class="main__container">
        <div class="main__content">
          <!--Insert content here-->
        </div>
      </div>
    </div>

    {% load static %}
    <script src="{% static 'scripts/app.js' %}" type="text/javascript"></script>
  </body>
</html>
