<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Websockets Data Stream</title>
    {% load static %}
    <script src="{% static 'scripts/websocket-example.js' %}" type="text/javascript"></script>
</head>
<body>
    <img width=25 height=25 src="{% static 'images/heart.png' %}"></script>

    This should stream data below:
    <table>
        <thead>
            <th>
                Source IP Address
            </th>
            <th>
                Destination IP Address
            </th>
            <th>
                Source Port
            </th>
            <th>
                Destination Port
            </th>
            <th>
                TTL
            </th>
            <th>
                Protocol
            </th>
            <th>
                Sequence Number
            </th>
            <th>
                Data
            </th>
        </thead>
        <tbody id="table-data">
            
        </tbody>
    </table>
</body>
</html>