body {
    font-family: helvetica;
    font-size: 14px;
}

#node-map {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
}

#host-node {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
}

#localhost {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
}

#porthosts {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
}

h1 {
    opacity: 0.5;
    font-size: 1em;
}
.node-map-main {
    position: relative;
}
.network-logs-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(81 52 98);
    border-radius: 10px;
    z-index: 9;
    box-shadow: rgb(66 23 90) 4px 4px 8px 1px;
    padding: 12px 4px 4px;
    transform: translate(0, -100%);
}
.network-logs-wrapper.visible {
    display: block;
}
.network-logs-wrapper:hover {
    cursor: move;
}
.network-logs-inner-wrapper {
    width: 100%;
    padding: 10px;
    position: relative;
}
.network-logs-container {
    background: black;
    color: greenyellow;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
    resize: horizontal;
    overflow: auto;
    flex-wrap: wrap;
    word-break: break-all;
    position: relative;
    z-index: 10;
}
.network-logs-container:hover {
    cursor: default;
}
#network-logs-ip-address {
    color: white;
}
#hide-logs {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 10px;
    padding: 5px;
}