body {
    font-family: helvetica;
    font-size: 14px;
}

#node-map {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
}

#host-node {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
}

#localhost {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
}


h1 {
    opacity: 0.5;
    font-size: 1em;
}