<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">    
    <title>SherLOCK</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
</head>
<style>
  #cy{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #141414;
  }
</style>
<body class="bg-dark">
<!--- Navbar -->
      <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">
                <img width="75" height="75" src="{% static 'images/SherLOCK - App Logo.png' %}" /> SherLOCK
            </a>
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span>
        <span  class="bar"></span>
        <span class="bar"></span>
      </div>

      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="/" class="navbar__links">Home</a>
        </li>
      </ul>
     </div>
      </nav>
<!-- Page Content -->

     <div id="cy">
        
     </div>

    <script>
        let ports = '{{ context.ports }}' 
        _hostAddress = '{{ context.ip }}';
        _hostOS = '{{ context.os }}';
        let otherHosts = '{{ context.others|safe }}'
        _ports = JSON.parse("{{ context.ports }}");
        _nodeColor = '#F9F9F9';
        _otherHosts = JSON.parse(otherHosts)
        //initialize object for cytoscape
        var hostJSON = {container: document.getElementById('cy'),}
        // convert numbers in js array to formatted strings
        for(let i = 0; i < _otherHosts.length; i++){
          current = _otherHosts[i].toString()
          current = current.slice(0, 3) + "." + current.slice(3, 6) + "." + current.slice(6, 9) + "." + current.slice(9, current.length);
          _otherHosts[i] = current;

        }
        //create and append nodes under list 'element'
        console.log("other hosts: " + _otherHosts) 
        var _elements = [{ data: { id: "host"}  },];
        // for (var i = 0; i < _ports.length; i++){
        //     _elements.push({ data: { id: 'port' + _ports[i]}  });
        // }
        // _elements.push({ data: { id: "other_host"}});
        
        for(let i = 0; i < _otherHosts.length; i++)
        {
          _elements.push({data: {id: 'other' + i}});
        }

        
        // for (var i = 0; i < _otherHosts.length; i++){
        //     _elements.push({ data: { id: 'other_host' + _otherHosts[i]}  });
        // }
        hostJSON = {...hostJSON,
			elements: _elements
                   }
        
        //create and append style objects under list 'style'
        
        var _osIcon;
        var _portIcon = "../../static/images/port-icon.png";
        
        switch (_hostOS){

        	case "Windows":
        	        _osIcon = "../../static/images/windows-10-icon.png";
			break;
		case "Darwin":
        	        _osIcon = "../../static/images/ios-icon.png";
			break;
		case "Linux":
	                _osIcon = "../../static/images/linux-icon.png";
			break;		
		case "Android":
	                _osIcon = "../../static/images/android-icon.png";
			break;			
		case "Chrome OS":
	                _osIcon = "../../static/images/chrome-os-icon.png";
			break;	
            	default:
                	_osIcon =  "../../static/images/default-logo.png";
	}
        

        var _style = [{
				selector: '#host', //#tag name to select node
				style: {
					shape: 'roundrectangle',
					width: 128,
					height:128,
					'background-image' : _osIcon,
                    'background-color' : _nodeColor,
					label: _hostAddress,
                    'color': _nodeColor,
				},
			}];

        
        // for (var i = 0; i < _ports.length; i++){
        //     _style.push({
				// selector: '#port'+_ports[i],
				// style: {
				// 	shape: 'roundrectangle',
				// 	width: 85,
				// 	height: 85,
				// 	'background-image' : _portIcon,
        //             'background-color' : _nodeColor,
				// 	label: "port " + _ports[i],
        //             'color': _nodeColor,
				// }
        //     });
        // }
        
        for(let j = 0; j < _otherHosts.length; j++){
          _style.push({
            selector: '#other' + j,
            style:{
              shape: 'roundrectangle', 
              width: 125, 
              height: 125,
              'background-image': "../../static/images/ios-icon.png",
              'background-color': _nodeColor,
              label: _otherHosts[j],
              color: _nodeColor
            }
          });
        }
        hostJSON = {...hostJSON,
			style: _style,
        }
	   	
        //RUN CYTOSCAPE
        var cy = cytoscape(hostJSON);
        
        
        //Connect nodes to host using .add(). may move node creation up to the initial
        //object creation later, but for now will just use this
        //need to figure out how to make nodes longer
      
        // for (var i = 0; i < _ports.length; i++){
            
        //     var source = 'port' + _ports[i];
        //     cy.add({
        //         data: {
        //             id: 'edge' + i,
        //             source: source,
        //             target: 'host',
        //         },
	      //   });
        // }
       for(let i = 0; i < _otherHosts.length; i++)
       {
         let source = 'other' + i;
         cy.add({
           data: {
             id: 'edge' + i,
             source: source, 
             target: 'host'
           }
         });
       } 
        
        //run .layout() to organize nodes.        
	    
        cy.layout({
		    name: 'concentric'
		}).run();
    </script>
</body>
</html>